AUTH_SECRET= ""
# AUTH_URL=http://localhost:3000

MONGO_URI = ""

ALLOWED_METHODS="GET, POST, PUT, DELETE, OPTIONS"
ALLOWED_HEADERS="Content-Type, Authorization"
ALLOWED_ORIGINS=""
# DOMAIN_URL="http://localhost:3000" 
